<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>jubaconfig</name>
	<displayName><![CDATA[Juba Config]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Modulo de configuración para la importación masiva de datos de JUBA]]></description>
	<author><![CDATA[Jose Bellido]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
